@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

*{
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    /*background-color: rgb(22, 22, 22);*/
}

/*-----------------headerNavBar-----------------*/
.headerNavBar{
    position: fixed;
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:sans-serif;
    background-color: rgb(132, 247, 247);
    height: 15vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
}

@media(max-width: 999px){
    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    a{
        color: white;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1{
        background: red;
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;   
    }

    .mobile-menu.active .line3{
        background: red;
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

/*APRESENTAÇAO COM FOTO*/
.apresentaçaoComFoto{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
    width: 100%;
    height: 85%;
    background-color: rgb(22, 22, 22);
}

.apresentaçaoComFotoIMG{
    width: 50%;
    display: flex;
    justify-content: center;
}

.apresentaçaoComFoto img{
    height: 50%;
    width: 50%;
    margin: 0 50px;
    border-radius: 50%;
    opacity: 70%;
}

.apresentaçaoComFotoInformacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    width: 30%;
    height: 40%;
    margin: 0 80px;
}

.apresentaçaoComFotoInformacoes h5{/*ola meu nome é*/
    font-size: 20px;
}

.apresentaçaoComFotoInformacoes h2{/*marcelo junior*/
    font-size: 40px;
}

.apresentaçaoComFotoInformacoes h4{/*eu sou...programador*/
    font-size: 25px;
}

.apresentaçaoComFotoInformacoes h4 span{/*programador*/
    color: #00804b;
}

.apresentaçaoComFotoInformacoes button{/*Button*/
    margin: 15px 1px;/*cima e baixo*/
    background-color: #00804b;
    color: white;
    width: 60%;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.apresentaçaoComFotoInformacoes button:hover{/*Button hover*/
    margin: 15px 1px;/*cima e baixo*/
    background-color: rgb(22, 22, 22);
    color: #00804b;
    transition: background-color .5s;
}

/*SOBRE QUEM SOU EU*/
.sobreQuemSouEu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
}

.sobreQuemSouEu img{
    height: 55%;
    width: 50%;
    border-radius: 10%;
}

.sobreQuemSouEuTitulo{/*TITULO SOBRE E QUEM SOU EU*/
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sobreQuemSouEuTitulo h4{/*TITULO QUEM SOU EU*/
    color: #00804b;
}

.sobreQuemSouEuFotoEInformacao{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 70%;
}

.sobreQuemSouEuFotoEInformacaoFOTO{/*esquerdo foto*/
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.sobreQuemSouEuFotoEInformacaoINFO{/*Direito Informaçoes e button*/
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.sobreQuemSouEuFotoEInformacaoINFO h4{/*Eu sou o marcelo e sou...*/
    width: 100%;
    text-align: start;
}

.sobreQuemSouEuFotoEInformacaoINFO h4 span{/*...programador*/
    color: #00804b;
}

.sobreQuemSouEuFotoEInformacaoINFO p{/*texto de apresentação*/
    text-align: justify;
    margin: 5px 0;
    font-weight: 500;
}

.sobreQuemSouEuFotoEInformacaobtn{/*info e foto posicionamento butao*/
    width: 100%;
    text-align: end;
}

.sobreQuemSouEuFotoEInformacaoINFO button{/*info e foto butao*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    width: 50%;
    margin: 5px 0;
    background-color: #00804b;
    color: white;
    font-weight: 600;
}

.sobreQuemSouEuFotoEInformacaoINFO button:hover{/*info e foto butao HOVER*/
    background-color: white;
    color:#00804b ;
    transition: background-color .5s;
}

/*SERVIÇOS*/
.servicos{/*SERVIÇOS*/
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 70%;
}

.servicosTitulo{/*SERVIÇOS tema*/
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    min-width: 110px;
}

.servicosTitulo h2{
    color: white;
}

.servicosTitulo h4{
    color: #00804b;
}

.servicosCards{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 70%;
    width: 75%;
}

.servicosCards::-webkit-scrollbar-thumb{
    background-color: rgb(58, 57, 57, 0.8);
    border-radius: 10px;
}

.servicosCards::-webkit-scrollbar{
    width: auto;
}

.servicosCardsIndividual{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(58, 57, 57);
    border-radius: 4px;
    padding: 5px;
    margin: 0 5px;
    height: 80%;
    width: auto;
}

.servicosCardsIndividual:hover{
    background: #00804b;
    transition: background-color .5s;
}

.servicosCardsIndividual img{
    height: 50%;
    width: 50%;
}

.servicosCardsIndividual i{
    color: burlywood;
}

.servicosCardsIndividual h4{
    color: white;
}

.servicosCardsIndividual p{
    text-align: center;
    font-size: auto;
    color: white;
}


/*ESPECIALIDADES*/
.Especialidade{
    height: 90%;
    width: 90%;
}

.servicosTitulo h2{
    color: rgb(22, 22, 22);
}

.EspecialidadeTextoEItens{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.EspecialidadeTexto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 45%;
    margin: 0 20px;
}

.EspecialidadeTexto h3{
    font-size: 25px;
    font-weight: 600;
}

.EspecialidadeTexto button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    width: 30%;
    margin: 5px 0;
    background-color: #00804b;
    color: white;
    font-weight: 600;
}

.EspecialidadeTexto button:hover{/*info e foto butao HOVER*/
    background-color: white;
    color:#00804b ;
    transition: background-color .5s;
}

.EspecialidadeTodosItens{
    width: 50%;
}

.EspecialidadeTodosItensItensEPorcentagens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.LineEspecialHorizontal{
    width: 100%;
    height: 5px;
    background: darkgrey;
    position: relative;
}

.LineEspecialHorizontal::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #00804b;
}

.html::before{
    width: 80%;
}

.css::before{
    width: 66%;
}

.js::before{
    width: 50%;
}

.msq::before{
    width: 45%;
}

.reactjs::before{
    width: 35%;
}

.reactnative::before{
    width: 15%;
}


/*CONTATOS*/
.contatos{
    height: 90%;
    width: 90%;
    color: white;
}

.contatoTitulo{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    min-width: 110px;
    color: white;
}

.contatoTitulo h4{
    color: #00804b;
}

.contatosTextoEINPUTS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 100%;
}

.textoEInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width:50%;
}

.textoEInfoItens{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    flex-direction: column;
    width: 60%;
    height: 60%;
}

.textoEInfoCadaItens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.textoEInfoCadaItensIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.textoEInfoCadaItensIMG img{
    height: 50%;
    width: 40%;
}

.textoEInfoCadaItensINFO{
    height: 100%;
    width: 90%;
}

.textoEInfoCadaItensINFO span{
    font-weight: 900;
    width: 50%;
}

.textoEInfoTxtINputButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 87%;
    width: 50%;
}

.textoEInfoTxtINputButton span{
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin: 5px 5px;
}

.textoEInfoINput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 8px;
    height: 100%;
}

.textoEInfoINput input{
    height: 25px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 4px;
}

.textoEInfoINputSobrenome{
    width: 100%;
}

.sobrenome{
    width: 96%;
}

.textoEInfoINputTextarea{
    width: 100%;
    height: 100%;
}

.textoEInfoINput textarea{
    margin: 4px;
    width: 96%;
    height: 90%;
    border-radius: 4px;
    font-size: 15px;
}

.textoEInfoTxtINputButton button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    width: 30%;
    margin: 9px 4px;
    background-color: #00804b;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.textoEInfoTxtINputButton button:hover{
    background-color: white;
    color:#00804b ;
    transition: background-color .5s;
}


/*BLOCOS*/
.blocoBranco{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(241, 238, 238);
    width: 100%;
    height: 60%;
}

.blocoPreto{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 50%;
}

/*MOBILE*/
@media(max-width:540px){
    .headerNavBarTemaPortifolio{
        display: none;
    }

    .headerNavBarLinks{
        display: none;
    }

    .one,.two,.three{
        background-color: #fff;
        width: 100%;
        height: 5px;
        margin: 6px auto;

        transition-duration: 0.3s;
    }
    
    .menu-toggle{
        width: 40px;
        height:0;
        margin-left: 180px;
    }

    .headerNavBar.on{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        background-color: #00804b;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerNavBar.on .headerNavBarLinks{
        display: block;
        height: 100%;
        width: 100%;
    }

    .headerNavBar.on .menu-toggle{
        position: absolute;
        right: 80px;
        top: 22px;
        height: auto;
        background-color: red;
    }

    .headerNavBar.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .headerNavBar.on .menu-toggle .two{
        opacity: 0;
    }

    .headerNavBar.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .headerNavBar.on .headerNavBarLinks div{
        text-align: center;
        display: block;
    }

    .headerNavBar.on .headerNavBarLinks a{
        transition-duration: 0.5;
        font-size: 1rem;
        line-height: 6rem;
        display: block;
    }

    /*eu sou marcelo*/
    .apresentaçaoComFoto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .apresentaçaoComFoto button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .apresentaçaoComFoto img{
        display: none;
    }

    /*sobreQuemSouEu*/
    .sobreQuemSouEuTitulo{
        display: none;
    }

    .sobreQuemSouEuFotoEInformacao{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .sobreQuemSouEuFotoEInformacaoINFO{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .sobreQuemSouEuFotoEInformacaoINFO h4{
        text-align: center;
        font-weight: 900;
    }

    .sobreQuemSouEuFotoEInformacaobtn button{
        width: 100%;
    }

    /*ESPECIALIDADES*/
    .mobileEspecialidade{
        display: flex;
        flex-direction: column;
        height: 90%;
    }

    .servicosTitulo{
        display: none;
    }

    .EspecialidadeTexto{
        text-align: center;
    }

    .EspecialidadeTextoEItens{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .EspecialidadeTodosItensItensEPorcentagens{
        display: flex;
        width: 100%;
    }

    .EspecialidadeTextoEItens button{
        display: none;
    }

    /*CONTATOS*/
    .mobileContact{
        display: flex;
        height: 90%;
        width: 100%;
    }

    .contatoTitulo{
        display: none;
    }

    .contatosTextoEINPUTS{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .textoEInfo{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .textoEInfoCadaItens{
        width: 250px;
    }

    .textoEInfoCadaItensIMG img{
        margin: 0 30px;
        width: 40%;
    }

    .textoEInfoTxtINputButton{
        width: 100%;
    }

    .textoEInfoINput{
        display: flex;
        flex-direction: column;
        width: 110%;
    }

    .textoEInfoINput input{
        width: 110%;
    }

    .textoEInfoINputSobrenome{
        width: 87%;
    }

    .textoEInfoTxtINputButton button{
        width: 98%;
    }
} 